@use "../core/variables" as vars;

a {
  text-decoration: none;
  color: white;
}
.go_btn:hover {
  background-color: vars.$color-orange;
  color: white;
  transform: rotate(20deg);
}

.more_btn:hover {
  background-color: white;
  color: vars.$color-orange;
  width: 40rem;
}
