// fonts
$font-title: "Roboto Slab", serif;

$font-main: "Roboto", sans-serif;

// colors
$color-blue: #0271bc;
$color-orange: #f26002;
$color-background: #eff9ff;
$color-bgsecondary: #304268;
$color-greyfont: #4a4a4a;
