@use "../core/variables" as vars;
@use "../components/links" as links;

.body {
  font-family: vars.$font-main;
  font-size: 18px;
}

h1 {
  font-family: vars.$font-title;
  font-size: 42px;
}

.anonymous {
  background-image: url("../images/cover.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-grow: inherit;
  padding-top: 7rem;
  // padding: 1rem;
}

.window {
  display: flex;
  flex-direction: column;
  // padding-block: 3rem;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  align-items: flex-start;
}
.insomnia {
  font-size: small;
  color: vars.$colo-lightbluefont;
}
.looking {
  color: vars.$color-greyfont;
}

h2 {
  font-family: vars.$font-title;
}
h3 {
  font-family: vars.$font-title;
}
.reasons {
  background-color: vars.$color-background;
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-areas: "header" "main" "main" "main" "footer";
  justify-content: center;
  align-content: center;
  width: 100%;
}

.reason_article {
  margin: 2rem;
}
// buttons in order of appearance
.scroll_down {
  display: flex;
  border: solid white 2px;
  background-color: white;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  border-radius: 3rem;
  align-items: center;
  object-fit: contain;
}
.go_btn {
  display: flex;
  border: solid vars.$color-orange 2px;
  color: vars.$color-orange;
  width: 5rem;
  height: 3rem;
  justify-content: center;
  border-radius: 1.5rem;
  align-items: center;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.more_btn {
  display: flex;
  border: solid vars.$color-orange 2px;
  color: white;
  background-color: vars.$color-orange;
  width: 10rem;
  height: 3rem;
  justify-content: center;
  border-radius: 1.5rem;
  align-items: center;
  text-decoration: none;
  transition: width 1s;
  margin-inline: auto;
}

.arrow {
  display: flex;
  border: solid white 2px;
  background-color: white;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  border-radius: 3rem;
  align-items: center;
  object-fit: contain;
}
