@use "../core/variables" as vars;

.page__footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0rem;
  color: white;
  background-color: vars.$color-bgsecondary;
  font-family: vars.$font-main;
  display: grid;
  grid-template-columns: 1;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-grow: inherit;
  padding-bottom: 3rem;
  height: 50%;
}
.arrow {
  display: flex;
  border: solid white 2px;
  background-color: white;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  border-radius: 3rem;
  align-items: center;
  object-fit: contain;
}
.list {
  list-style: none;
  text-align: center;
}
@media all and (min-width: 500px) {
  .page__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .utf {
    order: 1;
  }
}
