@use "../core/variables" as vars;

.page__footer {
  width: 100%;
  color: white;
  background-color: vars.$color-bgsecondary;
  font-family: vars.$font-main;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-grow: inherit;
  padding-bottom: 3rem;
  height: 50%;
}
.arrow {
  flex: 100%;
  border: solid white 8px;
  background-color: white;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  border-radius: 3rem;
  align-items: center;
  object-fit: contain;
  margin: auto;
  margin-top: -1rem;
}
.list {
  flex: 100%;
  list-style: none;
  text-align: center;
  line-height: 1.75rem;
}

.UTF {
  font-size: smaller;
}
@media all and (min-width: 500px) {
  .page__footer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    padding-left: 3rem;
    gap: 1rem;
  }
  .arrow {
    flex: 100%;
    width: 3rem;
    height: 3rem;
  }
  .UTF {
    flex: 20%;
    order: 2;
    text-align: left;
    align-self: flex-start;
  }
  .articles {
    order: 3;
    flex: 20%;
    text-align: left;
  }
  .social {
    order: 4;
    flex: 20%;
    text-align: left;
    align-self: start;
  }
}

@media all and (min-width: 1024px) {
  .page__footer {
    padding-inline: 20%;
  }
}
