@use "../core/variables" as vars;

.page__footer {
  // position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  color: white;
  background-color: vars.$color-bgsecondary;
  font-family: vars.$font-main;
}

.list {
  list-style: none;
}
