@use "../core/variables" as vars;

.page__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
  position: fixed;
}

.menu {
  background-color: vars.$color-bgmenu;
  padding: 1rem;
}
