<footer class="page__footer">
  <a class="list" href="#anon"
    ><img class="arrow" src="./images/ico-arrow.svg" alt="scroll_up"
  /></a>
  <ul class="list articles">
    <li><a href="https://adalab.es/">ARTICLES</a></li>
    <li><a href="https://adalab.es/">BOOKS</a></li>
    <li><a href="https://adalab.es/">EVENTS</a></li>
    <li><a href="https://adalab.es/">REASONS</a></li>
    <li><a href="https://adalab.es/">TIPS</a></li>
  </ul>
  <ul class="list social">
    <li><a href="https://adalab.es/">TWITTER</a></li>
    <li><a href="https://adalab.es/">INSTAGRAM</a></li>
    <li><a href="https://adalab.es/">MASTODON.SOCIAL</a></li>
  </ul>
    <ul class="list UTF">
      <li>&copy; 2022</li>
      <li>we &#128151; components</li>
    </ul>
  </small>
</footer>
